{{ template "header.tmpl" . }}

<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Recent Blocks</h1>
            </div>
            
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Timestamp</th>
                    <th>Hash</th>
                    <th>Transactions</th>
                    <th>Miner</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range .Blocks }}
                  <tr>
                    <td>{{ .Num }}</td>
                    <td>{{ .Timestamp }}</td>
                    <td data-toggle="tooltip" title="{{ .Hash }}">{{ ShortHex .Hash }}</td>
                    <td><a href="blocktransactions.html?blocknum={{ .Num }}">{{ .TransactionCount }}</a></td>
                    <td data-toggle="tooltip" title="{{ .Miner }}">{{ ShortHex .Miner }}</td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
          </main>
        </div>
      </div>

{{ template "footer.tmpl" . }}